// Cell Phone 
@media screen and (max-width: 800px) {
  body {
    background-image: $mobile-bg-image;
    // background-position: 25% -75%;
    max-height: 100vh;
  }

  .container {
    width: 80%;
  }

  .header {
    padding: 2rem 0;

    img {
      width: 200px;
    }
  }

  main {
    margin: 0;

    .main {
      flex-direction: column;

      &-huddle-img {
        img {
          width: 100%;
          margin: 1.8rem 0;
        }
      }

      &-huddle-content {
        margin: 2rem 0;

        h2 {
          font-size: 1.8rem;
          text-align: center;
          margin-bottom: 1rem;
        }

        p{
          text-align: center;
        }

        .btn {
          display: block;
          padding: .6rem 5rem;
          font-weight: lighter;
          font-size: .9rem;
          margin: 2rem auto;
        }
      }
    }
  }

  .footer {
    .social {
      &-container {
        justify-content: center;
      }

      &-link {
        width: 40px;
        height: 40px;

        i {
          font-size: 1rem;
        }
      }
    }
  }
}